/* Empty. Add your own CSS if you like */

.patient-modal, .alert-modal {
	padding: 10px;
	text-align: center;
}
.patient-modal img, .alert-modal img{
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
}
.patient-modal p, .alert-modal p{
	color: gray;
}